@import "tailwindcss";

body{
    /*@apply bg-gray-200;*/
    @apply bg-white;
}

.bg-gradient-half-text{
    background-image: linear-gradient(to bottom, #fb923c 50%, #ffffff 50%);
}

.bg-gradient-transparent{
    background-image: linear-gradient(to right, #000000 55%, transparent 50%);
}

.text-border{
    -webkit-text-stroke: 2px black
}
